.App {
  font-family: sans-serif;
  //text-align: center;
}

.dice {
  display: flex;
  flex-direction: row;
}

.dice-column {
  display: flex;
  flex-direction: column;
}

.die {
  background-color: lightgrey;
  border-radius: 10%;

  &.selected {
    background-color: seagreen;
  }

  &.disabled {
    background-color: crimson;
  }
}

.face {
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: royalblue;
  border-radius: 50%;
  background-color: white;

  &.special {
    color: crimson;
  }

  &.letter-face {
    justify-content: space-around;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.start {
      align-self: start;
    }

    &.middle {
      align-self: center;
    }

    &.end {
      align-self: end;
    }
  }

  .dot {
    display: block;
    border-radius: 50%;
    background-color: royalblue;
  }

  .letter {
    align-self: center;
    user-select: none;
  }
}

.die {
  .face {
    width: 104px;
    height: 104px;

    .dot {
      width: 24px;
      height: 24px;
    }

    .letter {
      font-size: 100px;
    }
  }

  &.medium {
    .face {
      width: 72px;
      height: 72px;

      .dot {
        width: 12px;
        height: 12px;
      }

      .letter {
        font-size: 50px;
      }
    }
  }
  &.small {
    .face {
      width: 36px;
      height: 36px;

      .dot {
        width: 6px;
        height: 6px;
      }

      .letter {
        font-size: 25px;
      }
    }
  }

  &.tiny {
    .face {
      width: 18px;
      height: 18px;

      .dot {
        width: 3px;
        height: 3px;
      }

      .letter {
        font-size: 12px;
      }
    }
  }
}

.probabilities-chart {
  margin: 5px 20px 5px 0;

  .recharts-default-tooltip {
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    white-space: nowrap;
  }

  .recharts-tooltip-label {
    margin: 0;
  }

  .recharts-tooltip-item-list {
    padding: 0;
    margin: 0;
  }

  .recharts-tooltip-item {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.cache-drop-target {
  &.drag-over {
    border: 2px solid red;
  }
}

.ui.table thead th.graded {
  background-color: #fbbd08;

  &.high {
    background-color: #b5cc18;
  }

  &.low {
    background-color: #f2711c;
  }
}

tr.table-row-exactly td {
  --percentage: 40%;
  background: linear-gradient(to top, #8884d8 var(--percentage), transparent var(--percentage)) no-repeat;
}

tr.table-row-at-least td {
  --percentage: 40%;
  background: linear-gradient(to top, #d88884 var(--percentage), transparent var(--percentage)) no-repeat;
}

.die-dot {
  font-size: 10px;
}

td, th {
  &.worst-multi-value {
    color: red;
  }

  &.best-multi-value {
    color: green;
  }
}
